header {
    a, .log{
        text-decoration: none;
        color: rgb(117, 117, 117);
        font-size: 20px;

        &:hover {
            color: rgb(0, 183, 255);
            text-decoration: underline;
        }
    }
}

.pub a {
    font-size: 28px;
}

li{
    list-style: none;
}
